body {
    background-color: #ffe2b0;
}

header {
    text-align: center;
}

h1 {
    font-size: 15px;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

nav {
    margin-bottom: 20px;
}